body {
  height: 100%;
}

.header {
  background-color: #ffed00;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  min-height: calc(100hv);
  padding-bottom: 60px; /* Высота футера */
}
.search-form {
  display: flex;
}

.create-collection-form {
  width: 20%;
}

.create-item-form {
  width: 20%;
  background-color: chartreuse;
}

.collection-select {
  width: 80%;
}

.forms-container {
  display: flex;
}

#create-item-form .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

#create-item-form .form-group label {
  margin-bottom: 5px;
}

#create-item-form .form-group input {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

.collection-title {
  text-align: center;
  margin-top: 20px;
}

#collection-table tbody tr:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.table {
  border: 3px solid black;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #005495;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
#collection-table td,
#collection-table th {
  border: 1px solid black;
  padding: 8px;
}

#collection-table {
  background-color: #5cb85c;
}

#collection-table th {
  background-color: #189c3e;
}

#collection-table .btn {
  margin-right: 5px;
}

.list-group mt-4 {
  margin-bottom: 15px;
}

.footer-text {
  color: white;
}
