/* Дополнительные стили */
.header {
  background-color: #ffed00; /* Желтый цвет для хедера */
}

.header .container {
  display: flex;
  justify-content: space-between; /* Расположение элементов по краям */
  align-items: center; /* Выравнивание по центру по вертикали */
}

main {
  min-height: 500px;
}
.search-form {
  display: flex;
}

.create-collection-form {
  width: 20%;
}

.create-item-form {
  width: 20%;
  background-color: chartreuse;
}

.collection-select {
  width: 80%;
}

.forms-container {
  display: flex;
}

#create-item-form .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

#create-item-form .form-group label {
  margin-bottom: 5px;
}

#create-item-form .form-group input {
  width: 100%;
  max-width: 300px; /* Максимальная ширина поля ввода */
  margin-bottom: 10px;
}

.collection-title {
  text-align: center; /* Выравнивание текста по центру */
  margin-top: 20px; /* Отступ сверху для выравнивания */
}

/* Пример стилей для эффекта hover */
#collection-table tbody tr:hover {
  background-color: #f0f0f0; /* Изменение цвета фона при наведении курсора */
  cursor: pointer; /* Изменение курсора при наведении на строку */
}

.table {
  border: 3px solid black; /* Цвет границы ячеек */
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #005495; /* Цвет фона футера */
  color: #fff; /* Цвет текста в футере */
  text-align: center;
  padding: 20px 0; /* Отступы внутри футера */
}

#collection-table td,
#collection-table th {
  border: 1px solid black; /* Устанавливаем черную границу для ячеек таблицы */
  padding: 8px; /* Добавляем отступ внутри ячеек */
}

#collection-table {
  background-color: #5cb85c;
}

#collection-table th {
  background-color: #189c3e; /* Устанавливаем фон для заголовков таблицы */
}

/* Стили для кнопок в ячейках таблицы */
#collection-table .btn {
  margin-right: 5px; /* Добавляем небольшой отступ между кнопками */
}

.list-group mt-4 {
  margin-bottom: 15px;
}

.footer-text {
  color: white; /* Замените #your-desired-color на желаемый цвет */
}
